<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 자바스크립트 인라인 사용 전 -->
    <script>
        var username = [[${user.username}]];        // 자바 스크립트 오류 발생 (F12)
        var age = [[${user.age}]];

        //자바스크립트 내추럴 템플릿
        var username2 = /*[[${user.username}]]*/ "test username";

        //객체
        var user = [[${user}]];                     // user.toString -> 따라서 값을 동작하지 않음
    </script>


    <!-- 자바스크립트 인라인 사용 후 -->
    <script th:inline="javascript">                 // 타임리프를 자바스크립트에 쉽게 넣기 위한 방법
        var username = [[${user.username}]];
        var age = [[${user.age}]];

        //자바스크립트 내추럴 템플릿
        var username2 = /*[[${user.username}]]*/ "test username";

        //객체
        var user = [[${user}]];
    </script>


    <!-- 자바스크립트 인라인 each -->
    <script th:inline="javascript">
        [# th:each="user, stat : ${users}"]
            var user[[${stat.count}]] = [[${user}]];
        [/]
    </script>

</body>
</html>