<div id="app">
    <!-- 1. v-if -->
    <p v-if="login">로그인 완료</p>
    <p v-else>로그인 해주세요.</p>
    <button v-if="!login" v-on:click="loginUser">로그인</button>
    <button v-else v-on:click="loginUser">로그아웃</button>
    <hr />

    <!-- 2. v-show -->
    <p v-show="login"> 로그인 되었습니다. </p>
    <button v-on:click="loginUser"> 로그인 </button>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                login: false,
            };
        },
        methods: {
            loginUser() {
                this.login = !this.login;
            },
        },
    }).mount("#app");
</script>
